@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue: #051d3b; /* variable creada para independizar el valor de color */
    --white: #fafafa;
    --fuente: "Montserrat", sans-serif; /* lo mismo pero con la tipografía */
    --padding-x: 100px;
}
/* animación */
@keyframes flecha{
    from{
       bottom: -10px; 
    }
    to{
       bottom: 5px;  
    }
}

/* el "*" indica valores de configuracion a todo el documento */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: var(--dark-blue);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo img{
    width: 100%;
    max-width: 180px;
    min-width: 120px;

}

.menu{
    height: 100%;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;

}

.menu ul li{
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    border: 1px solid transparent; /* le da grosor, solido y transparencia para que las palabras queden quietas al hacer el hover */
    transition: 0.3s;

}

.menu ul li:hover{
    border-bottom: 1px solid var(--white); /* al pasar el mouse agrega un borde debajo de una linea de 1px solida y blanca */
}

.menu ul li a{
    text-decoration: none;
    color: var(--white);
    font-family: var(--fuente);
    
}

/* ************************************************************************** */

.hero_section{
    /* height: calc(100vh - 80px); */
    height: calc(100vh);
    background-image: url(/imgs/road-forest-turn-mountains-snowy-winter-trees.jpg);
    background-attachment: fixed;
    /* background-repeat: no-repeat; si la imagen es chica y se repite en el espacio */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* flex-direction: column; para poner los elementos alineados en columna*/

}

.hero_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-blue);
    opacity: 90%;
    mix-blend-mode: hard-light; /*hace una mezcla de la imagen con la capa de color puesta encima*/
}

/*trae hacia adelante todos los componentes del contenedor hero_section
un nivel por encima del before anterior*/
.hero_section * {
    z-index: 1;
    position: relative;
}

.hero_section-text h1{
    font-family: var(--fuente);
    color: var(--white);
    /* font-size: 100px; */
    /* reemplazo tamaño de fuente en PX y lo hago en relacion
    a VW que es medida de pantalla: responsive*/
    font-size: 10vw; 
    text-transform: uppercase; /* pone el texto en MAYUSCULAS */
    text-align: center;
    font-weight: 300;
    line-height: 1;
}

.hero_section-text h1 span{
    display: block;
    font-weight: 700;
}

.hero_section-more{
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero_section-more p{
    font-family: var(--fuente);
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.hero_section-more img{
    position: relative;
    width: 30px;
    animation-name: flecha;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

/* ******************************************************************* */

.about_section {
    padding: 100px var(--padding-x);
    background-color: var(--white);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.section_title{
    font-family: var(--fuente);
    font-size: 35px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

}

.blueTitle{
    color: var(--dark-blue);
}

.whiteTitle{
    color: var(--white);
}

.section_title span{
    font-weight: 700;
}

.about_section p{
    font-family: var(--fuente);
    font-size: 20px;
    color: var(--dark-blue);
    text-align: center;
    line-height: 1.5; /* valor de interlineado */
}

/* ************************************************************************************ */

.beneficios_section{
    padding: 100px var(--padding-x);
    background-image: url(/imgs/canada-landscape-trees-snow.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.beneficios_section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    opacity: 90%;
    mix-blend-mode: hard-light; /*hace una mezcla de la imagen con la capa de color puesta encima*/
}

.beneficios_section * {
    z-index: 1;
    position: relative;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 10%;
    justify-content: center;
    margin: 80px 0;
    padding-left: 15px;
}

.beneficios_card{
    width: 100%;
    background-color: white;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 200px auto;
    padding: 35px;
    gap: 15px;
    box-shadow: 7px 5px 5px #7b7b7b85;
}

.beneficios_card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.beneficios_card-img img{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 150px;
}

/* .beneficios_card-text{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.beneficios_card-text h3{
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: var(--dark-blue);
}


/* ****************************************************************** */

.contact_section{
    background-color: var(--dark-blue);
    padding: 100px var(--padding-x);
    height: calc(100vh - 40px);

}

.contact_formContainer{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 50px;
}

.contact_formContainer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_formContainer-img img{
    width: 100%;
    max-width: 470px;
    object-fit: contain;
    min-width: 250px;
    
}

.contact_formContainer-form{
    display: flex;
}

.contact_formContainer-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact_formContainer-form .form_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.contact_formContainer-form .form_item label{
    font-family: var(--fuente);
    font-size: 20px;
    color: var(--white);
    font-weight: 200;
    text-align: center;
    margin: 0 0 15px 0;
}

.contact_formContainer-form .form_item input{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    outline: none;
    width: 100%;
    
}

.contact_formContainer-form form button{
    width: 40%;
    /* height: 60px; */
    align-self: center;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: skyblue;
    font-family: var(--fuente);
    font-weight: 400;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact_formContainer-form form button:hover{
    background-color: rgb(218, 85, 61);
    font-weight: 600;
}

/* ************************************************ */

/* footer height 40px*/

.derechos{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 40px;
    background-color: var(--dark-blue);
    justify-content: space-around;
}

.derechos-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente);
    font-size: 16px;
    color: var(--white);
    height: 100%;
    padding: 20px 10px;
}

.derechos-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.derechos-img img{
    height: 100%;
    /* max-width: 40px; */
    object-fit: contain;
    /* min-width: 300px; */
}


/* MENU HAMBURGUESA DESACTIVADO Y SETEO*/

.menu_mobile {
    display: none;
}

.menu_mobile span{
  background: #4C9AD3;
  border-radius:10px;
  height:5px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

}
  
.menu_mobile span:nth-of-type(1){
  width:50%;
  
}

.menu_mobile span:nth-of-type(2){
  width:100%;
}

.menu_mobile span:nth-of-type(3){
  width:75%;
 
} 
.menu_mobile input[type="checkbox"]{
  display:none;
}

.menu_mobile input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(9px,5px)
}


.menu_mobile input[type="checkbox"]:checked ~ span:nth-of-type(2){
  
  transform-origin:top;
  transform:rotatez(-45deg)
}


.menu_mobile input[type="checkbox"]:checked ~ span:nth-of-type(3){
  
  transform-origin:bottom;
  width:50%;
  transform: translate(18px,-14px) rotatez(45deg);

}
  



/* **************************************************************** */

/* Media Queries, haciendo la pagina que sea responsive
variables y seteso que deben adaptarse segun las medidas de pantalla*/

/* El tamaño del texto BIENVENIDOS AL HIMALAYA ya fue resuelto
y adaptado al principio, se lo hizo responsive al ponerle una 
medida de 10vw y dejarlo en relacion al tamaño de pantalla*/

@media screen and (max-width: 1200px) {
    :root{
    --padding-x: 50px;
    }
    .cardContainer{
        gap: 3%;
    }
    
}

@media screen and (max-width: 950px) {
    
    
}

@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    .menu_mobile{
        display: flex;
        flex-direction:column;
        width:40px;
        cursor:pointer;
        
    }
    .hero_section-more{
        margin-bottom: 15vw;
    }

    .contact_formContainer{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .contact_formContainer-img img{
        max-height: 30vh;
    }
    .contact_formContainer-form form button{
        margin-top: 20px;
    }
    
    .contact_section{
        padding: 20px var(--padding-x);
        height: calc(94vh - 40px);
    }
    .section_title{
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 645px) {
    .contact_section {
        height: calc(94vh - 40px);
    }
    .contact_formContainer{
        gap: 10px;
    }
    .contact_formContainer-form{
        margin-top: 20px;
    }
    .contact_formContainer-form .form_item{
        height: 75px;
    }
    .contact_formContainer-form .form_item label {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .contact_formContainer-form form button {
        margin-top: 8px;
        height: 35px;
        padding: 0px;
    }
}


@media screen and (max-width: 415px) {
    :root {
        --padding-x: 25px;
    }
    .navbar{
        height: 60px;
        /* height: 2vh; */
        padding: 3vh 30px;
    }
    .navbar .logo {
        justify-content: flex-start;
    }
    .navbar .logo img {
        width: 90%;
        max-width: 160px;
        min-width: 100px;
    }

    .contact_formContainer-form .form_item{
        width: 90%;
    }
    .section_title{
        font-size: 25px;
        margin-bottom: 1vh;
    }

    .container{
        margin-top: -15px;
    }
    .beneficios_card {
        width: 90%;
        padding: 20px;
        gap: 10px;
        grid-template-rows: 170px auto;

    }
    .beneficios_card-text h3 {
        font-size: 23px;
    }

    .contact_section {
        height: calc(94vh - 40px);
    }
    .contact_formContainer{
        gap: 10px;
    }
    .contact_formContainer-form .form_item label {
        font-size: 18px;
        margin-bottom: 4px;
    }
    .contact_formContainer-form form button {
        margin-top: 8px;
        height: 35px;
        height: calc();
        padding: 0px;
    }
}

@media screen and (max-height: 700px){
    .contact_formContainer-img{
        display: none;
    }
    
}